body {
    background: linear-gradient(#3382e9, #1512c7);
    overflow: hidden;
    
}
.container {
    height: 300px;
    width: 100%;
    margin-top: 35vh;

}

#display {
    width: min-content;
    padding: 10px 20px;
    background-color: rgb(31, 31, 31);
    font-size: 6em;
    text-align: center;
    margin: 20px auto;
    font-family: monospace;
    color: #32c415;
    cursor: default;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 80px;
    box-shadow:rgb(0, 0, 0);

}
   
.buttons {
    text-align: center;
    
      
}

.button {
    font-family: monospace;
    background-color: #000000;
    color: #ffffff;
    margin: auto 10px;
    border-radius: 50px;
    border-style: none;
    padding: 3px 15px;
    width: 80px;
    height: 30px;

}


#reset {
    color: red;
}
.button:hover {
    /* width: 82px;
    height: 32px;
    margin: 0px 9px; */
    box-shadow: 1px 1px 2px black;
    
}
.button:active {
   
    width: 78px;
    height: 28px;
    margin: auto 11px;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    html {
        height: 100%;
    }
    body {
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #display {
       margin-top: 50%;
       font-size: 3.5em;
    
    }
    .buttons {
        flex-direction: column;
        
    }
    .button {
        
        height: 40px;
        width: 80px;
    }
}